---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro-Bolerplate</title>
	</head>
	<body>
		<div class="grid h-dvh place-items-center bg-blue-400">
			<h1 class="text-4xl">Hello Astro!!</h1>
		</div>
	</body>
</html>
